<h1>Manage Homies</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Talley</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @drinkers.each do |drinker| %>
  <tr>
    <td><%= drinker.name %></td>
    <td><%= drinker.talley %></td>
    <td><%= link_to 'Show', drinker %></td>
    <td><%= link_to 'Edit', edit_drinker_path(drinker) %></td>
    <td><%= link_to 'Destroy', drinker, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Drinker', new_drinker_path %>
