
<style>
    .incdecbutton {
        cursor: pointer;
        background: #eee;
        padding: 2px 5px;
        border-radius: 8px;
        margin: 2px 5px;
        font-weight: bold;
        border: 1px solid black;
    }

    table {
        border-spacing: 20px 10px;
    }



</style>

<table>
  <!--
  <tr>
    <th></th>
    <th></th>
    <th>Who</th>
    <th>Bottles</th>
  </tr>
  -->

<% @drinkers.each do |drinker| %>
  <tr>
    <td class="incdecbutton" data-msg="Debit <%= drinker.name %>" data-num="-1" data-path="<%= url_for debitcredit_drinker_path(drinker) %>"><nobr>-1</nobr></td>
    <td class="incdecbutton" data-msg="Credit <%= drinker.name %>" data-num="1" data-path="<%= url_for debitcredit_drinker_path(drinker) %>"><nobr>+1</nobr></td>
    <td><%= drinker.name %></td>
    <td><%= drinker.talley %></td>
  </tr>
<% end %>

<script>
    $(function() {
        $(".incdecbutton").click(function() {
            var td = $(this);
            var comment = prompt(td.attr('data-msg')+" a bottle. (Comment optional)"," ");
            if( !comment ) {
                // they hit cancel
                return;
            }
            var data = {
                comment: comment,
                addremove: td.attr('data-num')
            };
            $.ajax({
                type:'POST',
                data: data,
                url: td.attr('data-path'),
                success: function() {
                    window.location.reload();
                },
                error: function() {
                    alert("Server vomit updating your talley");
                }
            });
        });
    });
</script>

</table>

<hr/>
<%= link_to "(Manage Homies)", drinkers_path %>
