<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @drinker.name %>
</p>

<p>
  <b>Talley:</b>
  <%= @drinker.talley %>
</p>


<%= link_to 'Edit', edit_drinker_path(@drinker) %> |
<%= link_to 'Back', drinkers_path %>
<hr/>
<h4>Wine Record</h4>
<ul>
<% @drinker.bottlechanges.each do |bottlechange| %>
  <li>
    <%= bottlechange.plusminus %>1 bottle on <%= bottlechange.created_at %>
    <% if bottlechange.comment %>
        (<%= bottlechange.comment %>)
    <% end %>
  </li>
<% end %>
</ul>

