<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @drinker.name %>
</p>

<p>
  <b>Talley:</b>
  <%= @drinker.talley %>
</p>

<h2>Update</h2>
<%= form_for([@drinker, @drinker.bottlechanges.build]) do |f| %>
  <div class="field">
    <%= f.label :addremove %><br />
    <%= f.text_field :addremove %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_drinker_path(@drinker) %> |
<%= link_to 'Back', drinkers_path %>
